/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
}

body{
    background-color: #393E46;
}

h1{
    margin: 30px;
    font-family: 'Lobster', cursive;
    font-size: 8rem;
    color: #4ECCA3;
    text-shadow: 5px 0 #232931;
}

h2{
    font-size: 3rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
}

p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }

img{
    width: 80%;
}